/* Default Styling */

* {
  margin: 0;
  padding: 0;
}

/* Navbar Stylings */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;
  background-image: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    rgba(182, 170, 190, 0.172),
    rgba(154, 142, 154, 0.273)
  );
}

.navbar__brandlogo img {
  width: 2.5vw;
}

.navbarLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbarLinks__shop {
  text-decoration: none;
  color: black;
  margin-right: 3vw;
  font-size: 1.6vw;
}

.navbarLinks--img {
  font-size: 2.2vw;
  color: black;
}

/* Media Screens at different sizes */

@media screen and (max-width: 700px) {
  .navbar__brandlogo img {
    width: 3.5vw;
  }
  .navbarLinks__shop {
    margin-right: 3vw;
    font-size: 2.3vw;
  }
  .navbarLinks--img {
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 600px) {
  .navbar__brandlogo img {
    width: 3.5vw;
  }
  .navbarLinks__shop {
    margin-right: 3vw;
    font-size: 2.3vw;
  }
  .navbarLinks--img {
    font-size: 3.6vw;
  }
}

@media screen and (max-width: 500px) {
  .navbar__brandlogo img {
    width: 4.5vw;
  }
  .navbarLinks__shop {
    margin-right: 3vw;
    font-size: 3.7vw;
  }
  .navbarLinks--img {
    font-size: 4vw;
  }
}

@media screen and (max-width: 450px) {
  .navbar__brandlogo img {
    width: 5.5vw;
  }
  .navbarLinks__shop {
    margin-right: 3vw;
    font-size: 4.6vw;
  }
  .navbarLinks--img {
    font-size: 5vw;
  }
}
