/* Default Styling */

* {
  margin: 0;
  padding: 0;
}

/* Shopping Page Stylings */

.shoppingPage {
  text-align: center;
  padding: 2vw 6vw;
}

.shoppingPage__title {
  font-size: 1.6vw;
  margin: 1vw 0;
}

.shoppingPage__products {
  display: flex;
  /* margin: auto; */
  align-items: center;
  flex-wrap: wrap;
  padding: 1vw 3vw;
}

.product {
  width: 20vw;
  margin: 3vw;
}

.product__description {
  padding: 1vw;
  line-height: 2.5vw;
  border-radius: 8px;
  margin-top: 1vw;
  color: rgb(96, 214, 193);
  background-image: linear-gradient(
    to bottom right,
    black,
    rgba(1, 9, 14, 0.638)
  );
  font-size: 1.2vw;
  cursor: pointer;
  margin: auto;
}

.product__image {
  width: 20vw;
  padding-bottom: 0.5vw;
}

.product__addToCartBtn {
  border-radius: 20px;
  color: white;
  background-color: black;
  transition: all 0.5ms ease-in-out;
  cursor: pointer;
  padding: 0.5vw 1vw;
  margin-top: 1.2vw;
  width: 10vw;
}

.product__addToCartbtn:hover {
  color: black;
  background-color: white;
}

/* Media Screens at different sizes */

@media screen and (max-width: 600px) {
  .shoppingPage__title {
    font-size: 2.8vw;
  }

  .shoppingPage__products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product {
    width: 60vw;
    margin: 3vw;
  }

  .product__image {
    width: 50vw;
    padding-bottom: 0.5vw;
  }

  .product__addToCartbtn {
    width: 30vw;
  }

  .product__description {
    font-size: 2.5vw;
    width: 30vw;
  }
}

@media screen and (max-width: 450px) {
  .shoppingPage__title {
    font-size: 3.5vw;
  }

  .shoppingPage__products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 3vw;
  }

  .product__image {
    width: 40vw;
    padding-bottom: 0.5vw;
  }

  .product {
    width: 60vw;
    margin: 3vw;
  }

  .product__addToCartbtn {
    width: 50vw;
    padding: 2vw;
  }

  .product__description {
    font-size: 2.5vw;
    width: 25vw;
    padding: 2vw;
    line-height: 2.5vw;
    cursor: pointer;
    margin: auto;
  }
}
